parameters:
    paths:
        - src/

    bootstrapFiles:
        - vendor/autoload.php
    level: 3
    scanDirectories:
        - src
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Support\Collection
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable::#'
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable::#'

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
