parameters:
    paths:
        - src/
    excludePaths:
        - src/Traits/
    bootstrapFiles:
        - vendor/autoload.php
    level: 5
    scanDirectories:
        - src
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Support\Collection
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable::#'
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable::#'
    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
