parameters:
    paths:
        - src/
        - helpers.php
    excludePaths:
        - src/Traits/
    bootstrapFiles:
        - vendor/autoload.php
    level: 8
    scanDirectories:
        - src
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Support\Collection
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable::#'
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable::#'
    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
